Source: xo-ansible-inventory-manager
Section: devel
Priority: optional
Maintainer: XtremeOwnage <admin@xtremeownage.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Rules-Requires-Root: no
Homepage: https://github.com/XtremeOwnage/XO-Ansible-Inventory-Manager

Package: xo-ansible-inventory-manager
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python3, python3-yaml
Description: Dynamic Inventory Management Tool for Ansible
 This package provides a dynamic inventory management tool for Ansible, 
 designed to load inventory data from various sources, process it, and 
 generate inventory files dynamically. It includes features like caching, 
 logging, and configurable output formats, making it ideal for complex 
 Ansible environments. The tool supports various configuration options 
 through a YAML file, ensuring flexibility and ease of use.
 .
 Key features include:
  - Dynamic inventory generation from host and group variables
  - Support for complex group criteria evaluation
  - Caching mechanism to improve performance
  - Detailed logging with configurable log levels and formats
  - Sorting options for aesthetically pleasing inventory outputs
  - Easy configuration through a YAML file
 .
 This tool is ideal for system administrators and DevOps engineers who 
 manage dynamic and complex infrastructure using Ansible.
